.footer {
  border-top: solid 1px $color-dark-grey;
  padding: 5vw 0;
  gap: 20px;
  flex-direction: column;
  @media (min-width: 1200px) {
    gap: 15%;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &__logo {
    width: 100%;
    @media (min-width: 1024px) {
      width: unset;
    }
  }
  &__nav {
    gap: 30px;
    display: flex;
  }

  &__col {
    flex-direction: column;
    border-left: solid 1px $color-dark-grey;
    padding-left: 1vw;
    justify-content: center;
  }

  &__item {
    font-size: 4vw;
    font-weight: 600;

    @media (min-width: 1200px) {
      font-size: 1.5vw;
    }
  }
}