.footer {
  border-top: solid 1px $color-dark-grey;
  padding: 5vw 0;
  gap: 20px;

  @media (min-width: 1200px) {
    gap: 15%;
  }
  &__nav {
    gap: 5vw;
    display: flex;
  }

  &__col {
    flex-direction: column;
    border-left: solid 1px $color-dark-grey;
    padding-left: 1vw;
  }

  &__item {
    font-size: 4vw;
    font-weight: 600;

    @media (min-width: 1200px) {
      font-size: 1.5vw;
    }
  }
}