.header {
  padding-top: 0.833vw;
  font-size: 0.833vw;
  font-weight: 500;

  &--nav {
    display: flex;
    justify-content: space-between;

    a.active {
      text-decoration: underline;
    }

    &__col {
      flex-direction: column;
    }
  }
}