  .header {
    padding-top: 8vw;
    font-size: 1vw;
    font-weight: 500;
    @media (min-width: 1200px) {
      padding-top: 1vw;
    }

    &--nav {
      display: none;
      justify-content: space-between;
      @media (min-width: 1200px) {
        display: flex;
      }

      a.active {
        text-decoration: underline;
      }

      a.home {
        text-decoration: none;
      }

      &__col {
        flex-direction: column;
      }
    }

    &--mobile-nav {
      display: block;
      @media (min-width: 1200px) {
        display: none;
      }

      .mobile-menu-button {
        display: block;
        position: fixed;
        color: white;
        mix-blend-mode: difference;
        top: 0;
        right: 0;
        background: transparent;
        padding: var(--spacer-xs);
        border: none;
        text-align: left;
        font-size: 7vw;
        font-weight: 700;
        cursor: pointer;
        z-index: 10;
      }

      .mobile-menu {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        &.open {
          transform: translateX(0);
          transition: transform 0.5s ease;
        }

        a {
          display: flex;
          font-size: 20vw;
          padding-left: var(--spacer-s);
          width: 100%;
          @media (min-width: 779px) {
            font-size: 10vw;

          }
        }
      }
    }
  }

  .close-menu-button {
    display: block;
    padding: var(--spacer-xs);
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 10vw;
    }
  }
