.header {
  padding-top: 1vw;
  font-size: 1vw;
  font-weight: 500;

  &--nav {
    display: none;
    justify-content: space-between;
    @media (min-width: 1200px) {
      display: flex;

    }

    a.active {
      text-decoration: underline;
    }
    a.home {
      text-decoration: none;
    }

    &__col {
      flex-direction: column;
    }
  }
}