.contact-us {
  padding: 5vw 0;
  font-weight: 600;

  &__content {
    flex-direction: column;
    gap: 30px;
    @media (min-width: 1200px) {
      gap: 15%;
      flex-direction: row;
    }
  }

  &__secondary {
    border-left: solid 1px $color-dark-grey;
    padding-left: 1vw;
    padding-top: 20vw;
  }

  &__title {
    font-size: 5vw;
    margin-bottom: 2.5vw;
    color: $color-green-basque;

    &--secondary {
      font-size: 3vw;
      color: $color-red-basque;
    }
  }
}