@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header--banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0;
  z-index: -1;
  @media (min-width: 1200px) {
    top: -1.833vw;
  }
}

.header--banner-svg {
  width: 100%;
}

.header--banner-svg svg {
  width: 100%;
  height: 100%;
}

.animated-letter {
  transform: translateY(100%);
  animation: fadeInUp 0.4s ease-in-out forwards;
}
