.studio-section {
  padding: 5vw 0 10vw 0;
  justify-content: space-between;
  font-weight: 600;
  flex-wrap: wrap;
  border-bottom: solid 1px $color-dark-grey;

  &__content {
    justify-content: space-between;

    &--secondary {
      padding-top: 5vw;
      gap: 30px;
      width: 100%;
      flex-direction: column;

      @media (min-width: 1200px) {
        gap: 15%;
        flex-direction: row;
      }
    }
  }

  &__arrow {
    width: 0.85em;
    padding-left: 5px;
  }

  &__description {
    width: 55%;
  }

  &__img {
    width: 100%;
    @media (min-width: 1200px) {
      width: 55%;
    }
  }

  &__item-list {
    flex-direction: column;
    border-left: solid 1px $color-dark-grey;
    height: fit-content;
    padding-left: 1vw;
  }

  &__title {
    &--secondary {
    margin-bottom: 2.5vw;
    }
  }
}