.work-section {
  position: relative;
  overflow-x: hidden;
  padding: 5vh 0;
  font-weight: 600;
  border-bottom: solid 1px $color-dark-grey;

  &__content {
    padding-bottom: 5vh;
    gap: 15vw;
  }

  &__arrow {
    width: 1vw;
  }

  &__description {
    width: 28.5vw;
    border-left: solid 1px $color-dark-grey;
    padding-left: 1vw;
  }

  &__playground {
    width: 120%;
    height: 170vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    left: -10%;

    img {
      width: 100%;
      display: block;
      transition: transform 0.3s ease;
    }

    .image-container {
      position: relative;
      width: 100%;
      cursor: pointer;

      &.selected {
        z-index: 1000;
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
      }
    }

    .no-hover.selected img {
      transform: scale(2);
    }

    .image-caption {
      display: flex;
      justify-content: space-between;
      padding-top: 8px;
      color: $color-dark-grey;
      font-size: 0.833vw;
    }

    .image-title, .image-year {
      width: fit-content;
      height: fit-content;
    }

    .image-title {
      text-align: left;
    }

    .image-year {
      text-align: right;
    }
  }

  &--logo {
    transform: rotate(-180deg);
    width: 95%;
    position: absolute;
    left: 2.5%;
    bottom: 3%;
  }
}
