.work {
  padding: 5vw 0;
  font-weight: 600;
  border-bottom: solid 1px #ccc;
}

.image-hover-preview {
  display: none;
  position: fixed;
  right: 2.5vw;
  bottom: 2.5vw;
  width: 30vw;
  height: auto;
  z-index: 1000;
  pointer-events: none;
  will-change: transform;
}

.work__content {
  gap: 15vw;
  padding-bottom: 10vw;
}

.work__arrow {
  width: 1vw;
}

.work__description {
  width: 28.5vw;
  border-left: solid 1px #ccc;
  padding-left: 1vw;
}

.work__playground-item {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.work__playground {
  position: relative;
}

.work__playground-item:hover .work__playground-title-wrapper {
  transform: translateX(0);
  transition: transform 0.5s;
}

.work__playground-link {
  padding: 0.5vw 0;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.work__playground-row {
  justify-content: space-between;
}

.work__playground-title-wrapper {
  display: flex;
  align-items: flex-end;
  transform: translateX(-5vw);
  transition: transform 0.5s;

}

.work__playground-title {
  position: relative;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 500;
}

.work__playground-arrow {
  font-size: 5vw;
  height: fit-content;
}

.work__playground-container {
  position: relative;
  overflow: hidden;
}
