.work-section {
  position: relative;
  height: 250vh;
  overflow: hidden;
  background: $color-dark-grey;

  &__title {
    position: relative;
    z-index: 99;
    mix-blend-mode: difference;

    &--text {
      position: relative;
      color: #ebebeb;
      left: 2%;
      font-size: 10vw;
      letter-spacing: -0.8vw;
      font-weight: 600;
    }

    &--logo {
      transform: rotate(-180deg);
      width: 95%;
      position: relative;
      left: 2.5%;
    }
  }
  &__playground {
    width: 120%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    position: relative;
    left: -10%;

    img {
      width: 100%;
      display: block;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .column--middle {
      position: relative;
      z-index: 1;
    }
  }

  .image-container {
    position: relative;
  }

  .image-caption {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    color: #ebebeb;
    font-size: 16px;
  }

  .image-title {
    text-align: left;
  }

  .image-year {
    text-align: right;
  }
}
