.work-section {
    padding: 5vw 0;
    border-bottom: solid 1px $color-dark-grey;

  &__playground {
    background: $color-dark-grey;
    height: clamp( 600px, 80vh, 1400px);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__logo {
    width: 95%;
    transform: rotate(180deg);

  }

  &__title {
    font-size: 2.5vw;
    font-weight: 500;
  }
}

