.work-section {
  position: relative;
  overflow-x: hidden;
  padding: 5vh 0;
  font-weight: 600;

  &__content {
    padding-bottom: 5vh;
  }


  &__description {
    width: 37%;
  }

  &__playground {
    width: 120%;
    height: 150vh;
    background: $color-dark-grey;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    position: relative;
    left: -10%;
    top: -40%;

    img {
      width: 100%;
      display: block;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .column--middle {
      position: relative;
      z-index: 1;
    }
  }

  &--logo {
    transform: rotate(-180deg);
    width: 95%;
    position: absolute;
    left: 2.5%;
    bottom: 3%;
  }

  .image-container {
    position: relative;
  }

  .image-caption {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    color: #ebebeb;
    font-size: 16px;
  }

  .image-title {
    text-align: left;
  }

  .image-year {
    text-align: right;
  }
}
