.presentation-section {
    padding: 5vw 0;
    font-weight: 600;
    flex-wrap: wrap;
    border-bottom: solid 1px $color-dark-grey;

  &__title {
    font-size: 15vw;
    justify-content: space-between;
    @media (min-width: 1200px) {
      justify-content: unset;
      font-size: 10vw;
    }
    &--secondary {
        margin-bottom: 2.5vw;
    }
  }

  &__content {
    justify-content: space-between;
    flex-direction: column;
    padding: 10vw 0 5vw 0;
    width: 100%;
    gap: 30px;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
    &--secondary {
      padding-top: 5vw;
    }
    &--you, &--team {
      gap: 30px;
      justify-content: space-between;
      flex-direction: column;
      @media (min-width: 1200px) {
        flex-direction: row;
        gap: 15%;

      }
    }
    &--manifest {
      font-size: 6vw;
      gap: 30px;
      flex-direction: column;
      padding: 5vw 0;
        @media (min-width: 1200px) {
          gap: 15%;
          flex-direction: row;
          font-size: 3vw;
        }
    }
  }

  &__sub-title {
    &--secondary {
      font-size: 7.5vw;
      gap: 1vw;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 1200px) {
          justify-content: start;
          font-size: 3vw;

      }
    }
  }

  &__img {
    width: 100%;
    padding: 5vw 0;
  }

  &__item-list {
    flex-direction: column;
    border-left: solid 1px $color-dark-grey;
    color: $color-red-basque;
    height: fit-content;
    padding-left: 1vw;
    font-size: 7.5vw;
    @media (min-width: 1200px) {
      font-size: 3vw;
    }
  }
}