.project-section {
  padding: 5vw 0;
  font-weight: 600;

  &__title {
    font-size: 12vw;
    @media (min-width: 1200px) {
      font-size: 10vw;
    }
  }
  &__content {
    padding: 10vw 0;
    border-bottom: solid 1px $color-dark-grey;
    flex-direction: column;
    @media (min-width: 1200px) {
      flex-direction: row;
    }
    &--left {
      justify-content: space-between;
      flex-direction: column;
      gap: 100px;
      padding: 4vw 30px 4vw 0;
      @media (min-width: 1200px) {
        gap: 0;
        position: sticky;
        top: 0;
        padding: 4vw 30px 4vw 0;
        margin-top: -4vw;
        max-height: calc(100vh - 8vw);
      }

    }
    &--right {
      display: flex;
      flex-direction: column;
    }
    &--top,&--bottom {
      justify-content: space-between;
      flex-direction: column;
      gap: 50px;
      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }
  }
  &--wrapper {
    background: $color-dark-grey;
    width: 100%;
    height: 34.375vw;
    min-height: 400px;
    overflow: hidden;
    margin-bottom: 0.5vw;
  }
    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
  &__description {
    @media (min-width: 1200px) {
      width: 55%;
    }
  }
  &__next-project {
    padding: 2vw 0 10vw 0;
    &__title {
      font-size: 4vw;
      @media (min-width: 1200px) {
        font-size: 1vw;
      }
    }
    &--project-name {
      padding-top: 1vw;
      font-size: 12vw;
      @media (min-width: 1200px) {
        font-size: 8vw;
      }
    }
  }
  &__arrow {
    width: 0.85em;
    padding-left: 5px;
  }
}