.project-section {
  padding: 5vw 0;
  font-weight: 600;

  &__title {
    font-size: 10vw;
  }
  &__content {
    padding: 10vw 0;
    border-bottom: solid 1px $color-dark-grey;
    &--left {
      justify-content: space-between;
      flex-direction: column;
      position: sticky;
      top: 0;
      padding: 4vw 0;
      margin-top: -4vw;
      max-height: calc(100vh - 8vw);
    }
    &--right {
      img {
        width: 100%;
      }
    }
    &--top,&--bottom {
      justify-content: space-between;
    }
  }
  &__description {
    width: 55%;
  }
  &__next-project {
    padding: 2vw 0 10vw 0;
    &__title {
      font-size: 0.833vw;
    }
    &--project-name {
      padding-top: 1vw;
      font-size: 8vw;
    }
  }
}