body {
  font-family: "Helvetica Neue", sans-serif;
  color: $color-dark-grey;
  font-size: 4vw;
  font-weight: 400;
  background: #ebebeb;
  @media (min-width: 1200px) {
    font-size: 1.5vw;

  }
}

:root {
  --spacer-xs: 10px;
  --spacer-s: 20px;
  --spacer-sm: 30px;
  --spacer-m: 50px;
  --spacer-l: 100px;
  --spacer-xl: 200px;
}


input[type=checkbox], input[type=radio] {
  accent-color: #d52b1e;
  margin: 0;
  width: 1.3vw;
  height: 1.3vw;
  min-width: 20px;
  min-height: 20px;
}

input:focus-visible,
textarea:focus-visible {
  border-color: #d52b1e;
  box-shadow: 0 0 0 3px rgba(205, 10, 10, 0.5);
}


a {
  display: inline-block;
  position: relative;
  color: $color-dark-grey;
  text-decoration: none;
  width: fit-content;

  &::after {
    @media (min-width: 1200px) {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      border-radius: 5px;
      height: 1px;
      bottom: -1px;
      left: 0;
      background: currentcolor;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }
  }

  &:hover::after {
    @media (min-width: 1200px) {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

  section {
    width: 100%;
  }

  .flex {
    display: flex;
  }

.hidden {
  visibility: hidden;
  opacity: 0;
}

  .wrapper {
    width: 97.5vw;
    position: absolute;
    left: 1.25vw;
  }

  .main-side {
    width: unset;
    @media (min-width: 1200px) {
      width: 55%;
    }
  }

  .secondary-side {
    width: unset;
    @media (min-width: 1200px) {
      width: 45%;
    }
  }

  .no-scroll {
    overflow: hidden;
  }