body {
  font-family: "Helvetica Neue", sans-serif;
  color: $color-dark-grey;
  font-size: 1.5vw;
  font-weight: 400;
  background: #ebebeb;
}

a {
  display: inline-block;
  position: relative;
  color: $color-dark-grey;
  text-decoration: none;
  width: fit-content;

  &::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 1px;
  bottom: -1px;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

  &:hover::after {
         transform: scaleX(1);
         transform-origin: bottom left;
       }
}

.flex {
  display: flex;
}

.wrapper {
  width: 97.5vw;
  position: absolute;
  left: 1.25vw;
}

.main-side {
  width: 55%;
}

.secondary-side {
  width: 45%;
}